

@font-face {
  font-family: 'Proxima Nova Thin';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/bf242a6c7ca0a31a834b1996afe2d4d6df15e03e.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/bf242a6c7ca0a31a834b1996afe2d4d6df15e03e.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Thin Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/a47533902784448b8f3ac5c273ed09831d2ffb33.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/a47533902784448b8f3ac5c273ed09831d2ffb33.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Light';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/7992cc5eddba27452b103438fbff8d07d20cf96d.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/7992cc5eddba27452b103438fbff8d07d20cf96d.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Light Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/51272c326b1f0d44680450d3ae61c63aad732093.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/51272c326b1f0d44680450d3ae61c63aad732093.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/4804126351ff7b5bfa0a67af723b94214e61a5a9.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/4804126351ff7b5bfa0a67af723b94214e61a5a9.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/6a0c2be88d4ebb49a14db9f2eee90932fce78d16.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/6a0c2be88d4ebb49a14db9f2eee90932fce78d16.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Medium';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/036c5e6bf4749a56c97355302ca2d753039d5e55.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/036c5e6bf4749a56c97355302ca2d753039d5e55.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Medium Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/cad7f2fe7e528a4cc42a24c0e4b44fdc2f1bcbb6.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/cad7f2fe7e528a4cc42a24c0e4b44fdc2f1bcbb6.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Semibold';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/4fa8ea7064af53af565ba9c043c57d54bf9b6afd.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/4fa8ea7064af53af565ba9c043c57d54bf9b6afd.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/3d2daff9d0c56fbbf494adebf9d820ba6e85c7f2.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/3d2daff9d0c56fbbf494adebf9d820ba6e85c7f2.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Bold';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/673177153f1e793e88431ef3075b282e3e488255.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/673177153f1e793e88431ef3075b282e3e488255.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Bold Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/a7082275f7512f7c366e32851722b7ee2fab1448.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/a7082275f7512f7c366e32851722b7ee2fab1448.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Extrabold';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/1020c0a7d1a9122c4f0ce6070f8ccb2b6ba5963e.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/1020c0a7d1a9122c4f0ce6070f8ccb2b6ba5963e.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Extrabold Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/6f288ad793c76cf3d86f99a629eedc2d7645de49.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/6f288ad793c76cf3d86f99a629eedc2d7645de49.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Black';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/1104a738f64c8c10e5a8f55f8ed2732f7b4ca3cf.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/1104a738f64c8c10e5a8f55f8ed2732f7b4ca3cf.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}


@font-face {
  font-family: 'Proxima Nova Black Italic';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.fontdue.com/mark-simonson-studio/fonts/3427b19fc8771cf83d1b12f98005a2718f57a405.woff2') format('woff2'), url('https://fonts.fontdue.com/mark-simonson-studio/fonts/3427b19fc8771cf83d1b12f98005a2718f57a405.woff') format('woff');
  
  line-gap-override: 0.0%;
  ascent-override: 92.0%;
  descent-override: 29.799999999999997%;
  
}

